.NavigatorBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  height: 93px;
  width: 100%;
  background: #F97316;
  box-shadow: 0px 0px 6px 0px rgba(46, 58, 90, 0.13);
}